<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            margin-top: 50px;
        }
        h1 {
            color: #343a40;
            font-weight: bold;
            text-align: center;
        }
        .card {
            margin: auto;
            max-width: 500px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }
        .card-body {
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Welcome!</h1>

    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Number of tickets</h5>
            <p class="card-text">
                <strong><span th:text="${numberOfTickets}">0</span></strong>
            </p>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js i jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
